{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
</head>

<body>

<header>
    <nav class="navbar flex container">
        <a href="{% url 'shop:user_home' %}" class="logo">
            Vibe<span>Cart.</span>
        </a>
    </nav>

    <div class="wrapper">
        <div class="form-box login">

            <h2>Login</h2>

            <!-- messages -->
            {% if messages %}
                {% for message in messages %}
                    <p style="color:red; margin-bottom:10px;">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="input-box">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>

                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="button-row">
                    <button type="submit" name="role" value="admin" class="btn">
                        Admin
                    </button>

                    <button type="submit" name="role" value="user" class="btn">
                        User
                    </button>
                </div>

                <button type="submit" class="btnl">Login</button>

                <div class="login-register">
                    <p>
                        Don't have an account?
                        <a href="{% url 'signup' %}">Register</a>
                    </p>
                </div>

            </form>

        </div>
    </div>
</header>

</body>
</html>
